2015-01-06T10:37:54-08:00 Server="WIN-6LR3JNJ6LVD" DomainDNSName="spl.com" DomainNetBIOSName="SPL" DomainLevel="Windows2012R2Domain" Site="Default-First-Site-Name" ForestName="spl.com" ForestLevel="Windows2012R2Forest" Created="12/29/2014 23:52:50" Changed="12/29/2014 23:53:54" GlobalCatalog="True" RODC="False" Enabled="True" HighestUSN="13547" SchemaVersion=69 DCWeight=100 IsIntersiteTopologyGenerator="True" OperatingSystem="Windows Server 2012 R2 Datacenter Evaluation" ServicePack="" OSVersion="6.3 (9600)" FSMORoles="Schema DomainNaming PDCEmulator RIDMaster Infrastructure" ServicesRunning="dfsr,netlogon,kdc,w32time,ismserv" ServicesNotRunning="ntfrs" ProcsOK="True" SYSVOLShare="True" DNSRegister="True"